<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fuzzy Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
  body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }s
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
     <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Home</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Configure</a></li>
      </ul>
</nav>
<br>
<div class="container d-flex justify-content-center h-100">

    <form class="md-form" action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
<div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
        <button type="submit" align="center" class="btn btn-primary text-center" >Upload</button>
    </form>
</div>
</body>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
</html>
